@media (min-width: 1360px) {
    .source__img {
        /* flex: 0 0 calc(100vw - (((100vw - 1360px) / 2 ) + ((1360px - 40px) * 0.5) + 20px)); */
        flex: 0 0 calc(50vw - (0.9 - 0.5 ) * 1248px);
        /* flex: 0 0 calc( 50vw - ( процент картинки - 0.5 ) * ширина контейнера); */
    }
}


@media (max-width: 1300px) {
    .start__body {
        display: flex;
        flex-direction: column;
    }
    .start__slide {
        /* width: 150px; */
        height: 150px;
    }
    .start__nav {
        margin-top: 20px;
    }
    .start__slider {
        margin-top: 40px;
        margin-bottom: 0;
    }
    .header__title {
        width: 90%;
    }
    .header__text {
        width: 60%;
    }
    .header__text {
        margin-bottom: 15px;
    }
}

@media (max-width: 992px) {
    .parallax__body {
        display: none;
    }

    .start {
        background: url('../images/header-bg.jpg') center center / cover no-repeat;
    }

    .header__list {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.711);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .header__link {
        color: var(--white);
        margin: 30px 0;
    }
    .header__list .header__link-last {
        display: none;
    }
    .header__secondary {
        display: flex;
    }
    .header {
        padding: 0;
    }

    .header__list.active {
        top: 0;
    }


    .travel__body {
        align-items: center;
        width: 100%;
    }
    .travel__title,
    .travel__text,
    .travel__subtitle {
        width: 100%;
        text-align: center;
    }
    .travel__cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .travel__card {
        margin-right: 0;
        align-items: center;
    }


    .plane__cards {
        justify-content: center;
    }
    .plane__content {
        width: 100%;
        text-align: center;
    }
    .plane__title,
    .plane__text {
        width: 100%;
    }


    .come__body {
        flex-direction: column;
        gap: 50px;
    }
    .come__content,
    .come__slider {
        width: 100%;
    }
    .come__slide {
        padding-right: 40%;
    }
}

@media (max-width: 500px) {
    .start__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .header__text {
        width: 100%;
    }
    .header__body-link {
        display: flex;
        justify-content: center;
    }
    .header__secondary .header__link-last {
        display: none;
    }
    .header__list .header__link-last {
        display: inline-block;
    }

    .header {
        padding: 15px 0;
    }

    .plane__cards {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .plane__card {
        align-items: center;
        margin-top: 10px;
    }
    
}


@media (max-height: 800px) {
    .header__bg-mountains img {
        top: 50%;
    }
    
    .header__bg-sea img {
        top: 65%;
        z-index: 1;
    }
}