@import "./fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "L-R";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.wrapper {
    overflow-x: hidden;
}

:root {
    --green: rgba(39, 85, 83, 1);
    --orange: rgba(244, 118, 72, 1);
    --white: #ffffff;
    --black: rgba(33, 33, 33, 1);
    --greyBlack: rgba(90, 90, 90, 1);
    --greyLight: rgba(186, 186, 186, 1);
    --planeUp: linear-gradient(to bottom , rgba(255, 255, 255, 1) ,rgba(255, 255, 255, 0.57) ,rgba(255, 255, 255, 0) ,rgba(255, 255, 255, 0));
    --planeDown: linear-gradient(2.4deg, #000000 12.72%, rgba(0, 0, 0, 0.633721) 44.36%, rgba(0, 0, 0, 0) 70.61%);
    --comeUp: linear-gradient(180deg, #000000 7.21%, rgba(0, 0, 0, 0.31) 68.74%, rgba(0, 0, 0, 0) 100%);

}

.container {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.start {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.parallax__body {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
}

.header__bg-mountains,
.header__bg-sea,
.header__bg-sky {
    position: absolute;
    width: 140%;
}

.header__bg-sea {
    height: 700px;
    top: -10% !important;
}
.header__bg-mountains {
    height: 550px;
    z-index: 1;
    top: 3% !important;
}

.header__bg-sky {
    height: 120%;
}

.header__bg-mountains img ,
.header__bg-sea img ,
.header__bg-sky img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center center / cover;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.header__bg-mountains img {
    top: 35% !important;
}

.header__bg-sky img {
    top: 0 !important; 
} 

.header__bg-sea img {
    top: 50% !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 0;
    z-index: 999;
    transition: 0.3s;
}


.header.active {
    background: var(--white);
}

.header__nav,
.header__list {
    display: flex;
    align-items: center;
    transition: 1s;
}

.header__nav {
    justify-content: space-between;
}

.header__link {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
    margin: 0 25px;
}

.header__link-last {
    padding: 10px 32px;
    border: 1px solid var(--black);
    border-radius: 5px;
}


.start__body {
    display: grid;
    grid-template: repeat(3,1fr) / 1fr 1fr;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.start__content {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
}

.start__slider {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    overflow: hidden;
    margin: auto 0 50px 0;
}

.start__slide {
    position: relative;
    width: clamp(150px, calc(210vw / 14.4), 250px);
    height: clamp(150px, calc(210vw / 14.4), 250px);
    padding-right: 30%;
    margin-top: auto;
    transition: 0.2s;
}

.start__slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0 , 0.3);
    z-index: 1;
}

.start__slide_active {
    width: clamp(200px, calc(270vw / 14.4) , 300px);
    height: clamp(200px, calc(270vw / 14.4) , 300px);
    padding-right: 40%;
}

.start__slide_active::before {
    background: none;
}

.slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--white);
    font-family: "L-B";
    font-size: calc(10px,calc(14vw / 14.4), 18px);
    line-height: clamp(18px, 24vw / 14.4 , 28px);
    
}

.start__wrapper {
    display: flex;

}

.header__title {
    font-family: "M-B";
    font-size: clamp(24px, 3.7vw, 70px);
    line-height: clamp(30px, 4vw , 75px);
    color: var(--white);
    margin-bottom: 25px;
    width: 50%;
}

.header__data {
    font-family: "M-B";
    font-size: clamp(18px, calc(30vw / 14.4) , 40px);
    line-height: clamp(24px, 3.7vw, 70px);
    padding: 0 clamp(10px, calc(25vw / 14.4) , 35px);
    background: var(--orange);
    border-radius: 16px;
    margin-bottom: clamp(20px, calc(40vw / 14.4) , 50px);
    display: inline-block;
}

.header__text {
    font-size: clamp(15px, calc(20vw / 14.4) , 25px);
    line-height: clamp(20px, calc(28vw / 14.4), 32px);
    color: var(--white);
    margin-bottom: clamp(20px, calc(40vw / 14.4) , 50px);
    width: 29%;
}

.header__body-link a{
    font-size: clamp(12px, calc(18vw / 14.4) ,24px);
    line-height: calc(16px, calc(24vw / 14.4), 30px);
    color: var(--white);
}

.header__body-link {
    display: flex;
    align-items: center;
}

.header__body-arrow {
    width: clamp(32px, calc(64vw / 14.4), 70px);
    height: clamp(32px, calc(64vw / 14.4), 70px);
    border: 1px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(18,calc(32vw / 14.4) , 38px);
    color: var(--white);
    margin-left: clamp(10px, calc(20vw / 14.4) , 30px);
}

.header__body-arrow i{
    transform: rotate(-45deg);
    animation: headerArrow 1s ease 1s;
}

@keyframes headerArrow {
    0% {
        transform: rotate(360deg);
    }
    
}

.start__nav {
    display: flex;
    gap: clamp(10px, calc(20vw / 14.4) , 30px);
    margin-top: clamp(10px, calc(20vw / 14.4) , 30px);
    align-items: center;
}

.btn_prev,
.btn_next {
    width: clamp(30px, calc(38vw / 14.4) , 45px);
    height: clamp(30px, calc(38vw / 14.4) , 45px);
    color: var(--white);
    font-size: clamp(16px, calc(24vw/14.4), 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.header__burger {
    width: 35px;
    height: 35px;
    position: relative;
}

.header__secondary {
    align-items: center;
    gap: 30px;
    display: none;
}


.header__burger::before,
.header__burger::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--white);
    display: block;
    position: absolute;
    transition: 0.5s;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__burger span {
    width: 100%;
    height: 2px;
    background: var(--white);
    display: block;
    position: absolute;
    top: 17px;
    transition: 0.5s;
}

.header__burger.active::before {
    top: 15px;
    transform: rotate(45deg);
}

.header__burger.active::after {
    bottom: 17px;
    transform: rotate(-45deg);
}

.header__burger.active span {
    transform: scaleX(0);
}


.travel {
    padding-top: clamp(50px,calc(120vw / 14.4), 150px);
    position: relative;
    z-index: 10;
}

.travel__body {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.travel__title {
    font-family: "M-B";
    font-size: clamp(32px, calc(48vw/ 14.4), 54px);
    line-height: clamp(38px, calc(58vw / 14.4), 600px);
    margin-bottom: clamp(15px, calc(25vw /14.4), 30px);
    color: var(--black);
}

.travel__subtitle {
    font-size: clamp(16px, calc(24vw / 14.4) , 30px);
    line-height: clamp(24px, calc(32vw/ 14.4), 38px);
    color: var(--black);
    margin-bottom: clamp(20px, calc(35vw / 14.4) , 40px);
    width: 52%;
}

.travel__text {
    font-size: clamp(12px, calc(16vw / 14.4), 24px);
    line-height: clamp(16px, calc(24vw /14.4), 30px);
    width: 50%;
}














.plane {
    background: url('../images/plane-bg.jpg') center center / cover no-repeat;
    position: relative;
    padding-top: clamp(30px, calc(65vw / 14.4), 75px);
}

.plane::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: clamp(125px , calc(250vw / 14.4), 350px);
    background: var(--planeUp);
}

.plane::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    height: clamp(300px, calc(600vw / 14.4), 700px);
    display: block;
    background: var(--planeDown);
}

.plane__body {
    display: grid;
    grid-template: 0.5fr 1fr 1fr / 1fr;
}


.plane__cards {
    display: flex;
    position: relative;
}

.plane__img {
    width: clamp(300px, calc(600vw / 14.4) , 700px);
    height: clamp(150px, calc(300vw / 14.4), 400px);
    position: relative;
    padding-left: 50%;
    margin-top: 15px;
    
}

.plane__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plane__card {
    display: flex;
    flex-direction: column;
    margin-right: clamp(20px, calc(65vw / 14.4), 75px);
}

.plane__cards .plane__card:last-child {
    margin-right: 0;
}

.plane__card-img {
    width: clamp(25px, calc(32vw / 14.4), 40px);
    height: clamp(25px, calc(32vw / 14.4), 40px);
    object-fit: cover;
    margin-bottom: 8px;
}

.plane__card-title {
    font-size: clamp(10px, calc(14vw / 14.4), 20px);
    line-height: clamp(16px, calc(24vw/ 14.4), 30px);
    color: var(--black);
    font-family: "M-R";

}

.plane__card-subtitle {
    font-family: "L-B";
    font-weight: 700;
    font-size: clamp(12px, calc(16vw / 14.4), 24px);
    line-height: clamp(16px, calc(24vw/ 14.4), 30px);
    color: var(--black);
}

.plane__content {
    position: relative;
    z-index: 1;
    color: var(--white);
    width: 55%;
}


.plane__title {
    font-family: "M-B";
    font-size: clamp(16px, calc(24vw / 14.4), 30px);
    line-height: clamp(24px, calc(30vw / 14.4), 35px);
}

.plane__text {
    margin: clamp(15px, calc(32vw / 14.4) , 40px) 0 clamp(5px, calc(13vw / 14.4), 20px) 0;
    width: 50%;
}

.plane__link,
.plane__text {
    color: var(--white);
    font-size: clamp(10px, calc(16vw / 14.4), 20px);
    line-height: clamp(16px, calc(19.2vw / 14.4), 24px);
}








.come {
    background: url('../images/day-1-bg.jpg') center center / cover no-repeat;
    position: relative;
    padding: clamp(50px, calc(100vw / 14.4), 150px) 0;
}

.come::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(300px, calc(500vw / 14.4), 600px);
    background: var(--comeUp);
}

.come__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.come__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.come__slider {
    width: 40%;
    position: relative;
    clip-path: inset( -100vw -100vw -100vw 0 );
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.come__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;

    
}

.come__slide {
    position: relative;
    width: clamp(130px, calc(230vw/ 14.4), 300px);
    padding-right: 50%;
    padding-bottom: 50%;
}

.come__slide_active {
    padding-bottom: 55%;
    padding-right: 55%;
    
}

.come__slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.come__title {
    font-family: "M-B";
    font-size: 40px;
    line-height: 50px;
    color: var(--white);
    margin-bottom: 35px;
}

.come__title span {
    color: var(--orange);
}

.come__text {
    font-size: 16px;
    line-height: 24px;
    color: var(--greyLight);
    margin: 15px 0;
}

.come__text span {
    font-family: "L-B";
    color: var(--white);
}

.come__nav {
    display: flex;
    gap: clamp(10px, calc(20vw / 14.4) , 30px);
    margin-top: clamp(10px, calc(20vw / 14.4) , 30px);
    align-items: center;
    
}

.come__slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.come__slide span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--white);
    font-size: clamp(10px, calc(14vw/ 14.4) , 18px);
    line-height: clamp(14px, calc(20vw / 14.4),24px);
}

.come__slide span::before {
    content: 'Паратунка';
    font-family: "L-B";
    display: block;
    font-size: clamp(10px, calc(16vw / 14.4), 20px);
    line-height: clamp(16px, calc(24vw / 14.4), 30px);
    margin-bottom: 5px;
}













.source {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    justify-content: center;
}


.source__intro {
    display: flex;
}

.source__content {
    display: flex;
    flex: 1 0 100%;
    z-index: 2;
}

.section__content-body {
    width: 70%;
}

.source__img {
    display: flex;
    height: 300px;
    max-width: 100%;
    position: relative;
    padding-left: 40%;
    flex:  0 0 calc(((100vw - 30px) * 0.4) + 15px);
    transform: translate(-100%,0);
    overflow: hidden;
    /* flex: 0 0 calc(((100vw - общий padding) * процентная ширина) + половина обшего padding); */
    /* background: linear-gradient(177.48deg, #FFFFFF 1.11%, rgba(255, 255, 255, 0.72) 35.88%, rgba(255, 255, 255, 0) 60.47%); */

}

.source__title {
    font-family: "M-B";
    font-size: 40px;
    line-height: 50px;
    color: var(--black);
    margin-bottom: 35px;
}

.source__title span {
    color: var(--orange);
}

.source__text {
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    margin: 15px 0;
    width: 70%;
}

.source__text span {
    font-family: "L-B";
    color: var(--white);
}



.source__img-clouds{
    position: absolute;
    width: 100%;
    height: 300px;
    /* display: flex; */
}

.source__img-clouds:nth-of-type(1) {
    bottom: -80%;
    left: -20%;
    z-index: 1;
}

.source__img-clouds:nth-of-type(2) {
    bottom: -70%;
    right: -20%;
    z-index: 1;
}

.source__img-clouds:nth-of-type(3) {
    bottom: -80%;
    right: 0;
    z-index: 1;
}

.source__img-clouds:nth-of-type(4) {
    bottom: -70%;
    left: -40%;
    z-index: 1;
}
.source__img-clouds:nth-of-type(5) {
    bottom: -80%;
    right: -40%;
    z-index: 1;
}
.source__img-clouds:nth-of-type(6) {
    top: -50%;
    right: -40%;
    z-index: 1;
}
.source__img-clouds:nth-of-type(7) {
    bottom: 60%;
    left: -40%;
    /* z-index: 1; */
}
.source__img-clouds:nth-of-type(8) {
    bottom: 60%;
    left: -40%;
    /* z-index: 1; */
}

.source__img-white {
    width: 50%;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to top ,transparent,  rgb(255, 255, 255 , 0.2), rgb(255, 255, 255 , 0.4 ), rgb(255, 255, 255 , 0.6), rgb(255, 255, 255 , 0.8) , rgb(255, 255, 255 , 1));
}

.source__img img:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.source__slider {
    overflow: hidden;
}


.source__desc-body {
    display: flex;
    overflow: hidden;
    min-width: 0;
}


.source__slide {
    position: relative;
    width: clamp(130px, calc(230vw/ 14.4), 300px);
    height: clamp(130px, calc(230vw/ 14.4), 300px);
    padding-right: 30%;
    padding-bottom: 30%;
}

.source__slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.source__wrapper {
    display: flex;

}